// #region -------------- Fonts -------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// #endregion

// #region -------------- Common -------------------------------------------------------------------

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

// #endregion
